* {
  box-sizing: border-box;
}
 body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

.nav-bar{
  background-color: #fcfcfc;
  display:flex;
  align-items: center;
  justify-content:space-between;
}
a{
  text-decoration: none;
}