* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: #ffffff !important;
}
.loader{
    animation:loader 5s;
    animation-timing-function: linear;
    background:#fff;
    width:100%;
    height:0;
}

.page{
  
}

@keyframes loader {
  0%{
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    /* align-content: center; */
  }
  65%{
    height:0;
    display:flex;
    /* align-items: center; */
    justify-content: center;
  }
}
.logo{
  /* visibility: hidden; */
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fcfcfc;
  /* margin:20px 0; */
}

a {
  text-decoration: none;
}

header {
  background-color: #fcfcfc;
  height: auto;

  .d-flex{
    justify-content: space-between;
    align-items: center;
  }

  /* padding:20px 0; */
  a {
    text-decoration: none;
    padding: 0 10px;
  }

  .link:after {
    content: "hello world";
  }

  .link:nth-child(1):after {
    content: "Home";
  }

  .link:nth-child(2):after {
    content: "About";
  }

  .link:nth-child(3):after {
    content: "Contact";
  }

  .link:nth-child(4):after {
    content: "Blog";
  }
  /* .menu{
    float:right;
    height:30px;
  } */
}

main {
  width: 100%;
  height: 100vh;
  background:#f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;

  .home-heading:after {
    content: "This is Home Page";
  }

  .about-heading:after {
    content: "This is About Page";
  }
}

footer {
  background: #0f0f0f;
  height: 40vh;
  display: flex;
  align-items: center;
}