/* font family */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* grobal variable */
:root{
    --grey-color:#f2f2f2;
    --light-color:#fcfcfc;
    --dark-color:#0f0f0f;
    --theme-color:tomato;
    --font-family:"Roboto", serif;
    --font-bold:800;
    --font-semi-bold:700;
    --font-medium:600;
    --font-regular:400;
    --font-light:400;
    --font-extra-light:200;
}
*,body{
    /* background-color:var(--light-color); */
    color:var(--dark-color);
    font-weight: var(--font-regular);
    font-family: var(--font-family);
}

/* header */
.close-btn{
    float:right !important;border:none;display:none;
    
    @media(max-width:600px){
        display:block;
    }}

.close-btn:after{
    content:url("/src/assets/menu-icon-close.svg");
}

.offcanvas-header{
    /* background:green; */
    /* .offcanvas-title{visibility:hidden;} */
    /* justify-content:space-between; */
}

header{
    background:#fcfcfc;
    width:100%;
    height:auto;
    /* position:fixed; */
    
    nav{
        justify-content:space-between;
        align-items:center;
        padding:20px 0;
        width:100%;
        height:auto;
        /* position: relative !important; */
        /* z-index: 1; */
        background:#ffffff;
        flex-wrap: wrap;
       }
    
    .menu{
        display:flex;
        gap:20px;
        width:100% !important; 
        @media(max-width:600px){height:100vh !important;  }
        
    .offcanvas-body{
        display:flex;
        align-items:center;
        justify-content:center;
        @media(max-width:600px){flex-direction:column;}
    }

    a{text-decoration:none;padding:0 10px;color:var(--dark-color);
        text-transform: capitalize;
    @media(max-width:600px){
        font-size: 24px;
        padding:10px 0;
    }}
    a:hover{font-weight: bold;color:#000;}
}
    .menu-icon{
        display:none;
        @media(max-width:600px){
            display:block;
        }
    }
    .menu-icon:after{
        content:url("/src/assets/menu-icon-open.svg")
    }
}

@media screen and (max-width:600px){
    input[type="checkbox"]:checked+label:after{
        /* color:green !important; */
        content:url('/src/assets/menu-icon-cancel.svg');
    }
    input[type="checkbox"]:checked+label+.menu-lists{
        /* display: block; */
        height:60vh;
        /* position: fixed; */
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.preloader{
    width:100%;
    height:100vh;
    background:var(--light-color);
    position: absolute;
    top:0;
    transition:opacity .25s, visibility 1s;
    display:flex;
    align-items: center;
    justify-content: center;
}
.preloader:after{
    content:"loading...";
}
.fade{opacity: 0; visibility: hidden;}


/* toogle menu */

    input{display:none;}
    a{
        text-decoration: none !important;
        padding:0 10px;
        text-transform: capitalize;
        color:var(--dark-color);
        background: transparent;
        @media(max-width:600px){font-size: 24px;color:var(--light-color) !important;padding:10px 0;}
    }
    .menu-toggle{
        display:none;
        cursor: pointer;
        @media(max-width:600px){
            display:block;
        }
    }
    label:after{
       content:url("/src/assets/menu-icon-open.svg");
    }
    .menu-lists{
        @media(max-width:600px){
          position: absolute;
          height:0;
          overflow: hidden;
          background:var(--dark-color);
          width:100%;
          left:0;
          top:6pc;
          transition:height 2s;
          display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }
    }


    .banner{
        width:100%;
        height:100vh;
        background:#f2f2f2;
        /* h1{padding-top: 7pc !important;} */
    }